# Port configuration
PORT_WEB=8080
PORT_PMA=8081

# Names
APP_CONTAINER_NAME=mirage_app
WEB_CONTAINER_NAME=mirage_web
DB_CONTAINER_NAME=mirage_db
PMA_CONTAINER_NAME=mirage_phpmyadmin

# Timezone configuration
TZ=UTC

# MariaDB configuration
MYSQL_DATABASE=app_db
MYSQL_USER=app_user
MYSQL_PASSWORD=change_me
MYSQL_ROOT_PASSWORD=change_root

# User and group IDs for file permissions
UID=1000
GID=1000
